.container{
    max-width: 367px;
    width: 100%;
    min-width: 200px;
    /* height: 35px; */
    padding: 8px;
    display: flex;
    align-items: center;

    justify-content: space-between;

    /* gap: 26px; */
}
.navLinks{
    list-style: none;
    font-weight: 700;
    font-size: 16px;
    position: relative;
    cursor: pointer;
    transition: color 0.3s ease;
}
.navLinks::before{
    content: "";
    position: absolute;
    left: 0;
    bottom: -3px;
    height: 2px;
    width: 0;
    background-color: #59A7FE;
    transition: width 0.3s ;
}
.navLinks:hover{
    color: #2289FF;
}
.navLinks:hover::before{
    width: 100%;
}
.menu{
  display: none;
  list-style: none;
  cursor: pointer;
  align-items: center;
  justify-content: center;
}





@media (max-width: 768px) {
  
  .container {
    width: auto;          
    /* max-width: none; */
    min-width: auto;
    padding: 0;
  }
  .navLinks {
    display: none;
  }
  .menu {
    display: flex;
  }
}