.container{
    width: 1276px;
    height: 69px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    gap: 24px;
    background: #FFFFFF;
}
.info{
    width: 645px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    padding: 0px 12px;
}
.title{
    font-size: 16px;
    font-weight: 700;
}
.subtext{
    font-size: 12px;
    font-weight: 700;
    color: #0000009E;
}
.select{
    appearance: none;
    padding-right: 19px;
    border: none;
    font-size: 16px;
    font-weight: 500;
    background: url("../../../../../public//assets/ChevronDown.svg") no-repeat right center;
}
.button{
    background: #2289FF;
    border: none;
    padding: 0 14px;
    border-radius: 10px;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 400;
}
