.container{
    height: 38px;
    padding: 10px;
    display: flex;
    gap: 10px;
}
.box{
    border: 1px solid #05073C;
    height: 18px;
    width: 18px;
    border-radius: 4px;
}
.text{
    font-size: 16px;
    font-weight: 400;
    color: #05073C;
}