.container {
  
  width: 245px;
  background-color: #FFFFFF;
  border-right: 1px solid #e0e0e0;
  min-height: 933px;
  display: flex;
  flex-direction: column;
}

.sidebarButton, .dropdownItem {
  width: 100%;
  display: flex;
  align-items: center;
  /* justify-content: center; */
  gap: 10px;
  padding: 16px 0;
  font-weight: 600;
  font-size: 16px;

  transition: background-color 0.2s;
  border: none;
  background: transparent;
  color: #333;
  cursor: pointer;
}
.active, .activeDropdown {
  background-color: #f0f9ff;
  color: #2289FF;
}

.leftStrip {
  width: 4px;           
  height: 36px;             
  background-color: #858585;     
  border-top-right-radius: 16px;
  border-bottom-right-radius: 16px;
}
.leftStripActive {
  background-color: #2289FF; 
}

/* .a{
  width: 100%;
} */